* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(22, 22, 22);
  color: #fff;
}
form {
  width: 500px;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
input {
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: rgb(22, 22, 22);
  border-bottom: 1px solid lightgray;
  outline: none;
  margin-top: 10px;
  color: #fff;
  margin-bottom: 10px;
}
.inputDiv {
  margin: 30px 0;
}
.saveButton {
  width: 100%;
  padding: 7px;
  background-color: gold;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.checkboxDiv {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
#term {
  width: 20px;
  height: 12px;
}
.input-error {
  font-size: 15px;
  color: rgb(184, 70, 70);
}
